

.password-continar{
    width: 100%;
    padding: 80px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .password-wraper{
        width: 350px;
        border: 1px solid #dbdbdb;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;

        padding: 20px 20px 50px;

        h2{
            border: 2px solid #414141;
            padding: 8px 18px 15px;
            border-radius: 50%;
            font-size: 50px;
            font-weight: 200;
            text-align: center;
            background-color: #ffffff;
            
        }

        h5{
            font-size: 14px;
            font-weight: 700;
            padding-top: 5px;
        }

        span{
            width: 75%;
            font-size: 12px;
            text-align: center;
        }

        .password-form{

         display: flex;
         flex-direction: column;
         width: 80%;
         padding: 10px 0px;
            .password-input{
                background-color: #fafafa;
                padding: 8px 0px 8px 10px;
                font-size: 12px;
                font-weight: 300;
                margin-bottom: 6px;
                border: 1px solid #d4d4d4;
               border-radius: 4px;
            }

            .send-link-butten{
                background-color: #b2dffc;
                font-size: 12px;
                font-weight: 300;
                color: white;
                margin-top: 5px;
                border-radius: 4px;
                padding: 5px 0px;
            }
        }

        .forgot-pass-divider{
           
            font-size: 14px;
            font-weight: 400;
            text-overflow: uppercase;
            color: #8e8e8e;
            background-color: #ffffff;
            margin-top: 18px;
        
            position: relative;
            width: 78%;
            text-align: center;
        
            &::after{
                content: '';
                display: block;
                clear: both;
                position: absolute;
                height: 1px;
                width: 40%;
                background-color:#dbdbdb;
                left: 0;
                top: 10px;
        
            }
        
        
            &::before{
                content: '';
                display: block;
                clear: both;
                position: absolute;
                height: 1px;
                width: 40%;
                background-color: #dbdbdb;
                right: 0;
                top: 10px;
        
           }
        }

        
            .create-new-account{
                font-size: 12px;
                font-weight: 700;
                text-decoration: none;
                padding: 15px 0px 20px;
                color: black;
                background-color: #ffffff;
            }
        
 
    }

    .back-login-wraper{
        width: 350px;
        border: 1px solid #dbdbdb;
        background-color: #ffffff;
        text-align: center;
        font-size: 12px;
        font-weight: 700; 
        padding: 10px 0px;
        a{
            text-decoration: none;
            color: black;
        }
       
       
     
    }
}