.reset-password-container{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    .reset-password{
        width: 350px;
        margin-top: 100px;
       
  .card{


    
    .card-header{
      .header-titel{
          text-align: center;
          color: deepskyblue;
      }
  }

  .card-body{

      display: flex;
     flex-direction: column;
     position: relative;
     padding-bottom: 70px;
       
.new-password{
  display: flex;
  flex-direction: column;

  .new-input{
   width: 80%;
   border: 1px solid rgb(152, 151, 151);
   padding: 3px 0px;
   border-radius: 3px;
   margin-top: 3px;
  }
}

.confarm-password{
  display: flex;
  flex-direction: column;
  margin-top: 7px;

  .confarm-input{
   width: 80%;
   border: 1px solid rgb(152, 151, 151);
   padding: 3px 0px;
   border-radius: 3px;
   margin-top: 3px;
  }
}


.reset-btn{



  .butten{
      background-color: cornflowerblue;
      position: absolute;
      right: 16px;
      top: 160px;
      padding: 5px 20px;
      font-size: 20px;
      border-radius: 5px;

  }
 }


    }


    p{
      width: 70%;
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin-top: 10px;
    }
    

   }
      
       
    
  
    
 }



}