@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #fafafa;
}

a,
a:hover {
text-decoration: none;
}

input,
input:focus{
    outline: none;
}
button,
button:hover{
    border: none;
}

li{
   
    list-style: none;
}

ul{
    padding-bottom: 0px;
    padding-left: 0px;
}

