

.auth-tamp-wraper{
  
 
    .auth-tamp-img{
        height: 590px;
        width: 440px;
        background-repeat: no-repeat;
        object-fit: cover;
        margin-top: 500px;
     
     
        .carosul-box{
          
            width: 250px;
            margin-top: -542px;
            margin-left: 155px;
           position: relative;
           border-radius: 20px;
            

            .carousel{
                
                position: absolute;
                height: 400px;
                bottom: -427px;
                border-radius: 20px;
           
                

                img{
                   
                    height: 538px;
                    width: 252px;
                    background-color: black;
                  
                  
                }

                .big-img{
                 height: 544px;
                
                }
                
                
            }
         
          
         
          
        }
    }
}